*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

body{
    background-color: black;
    width: 100%;
}

#table{
    display: table;
    width: 100%;
    height: 100%;
}

#cell{
    display: table-cell;
    vertical-align: middle
}

#canvascontainer{
    margin: auto;
    outline: 1px solid white;
}

canvas{
    width: 100%;
    height: 100%;
    display: block
}
